/*@import url('QwitcherGrypen-Bold.ttf');*/
/*@import url('RugeBoogie-Regular.ttf');*/
/*@import url('Qwigley-Regular.ttf');*/
/*@import url('ReemKufi-Bold.ttf');*/



/*AnchorPane {*/
/*    -fx-background-color: #0a8da4;*/
/*}*/

/*.btn {*/
/*    -fx-background-color: #9f0aa4;*/
/*    -fx-font-family: "Qwigley"; !* Apply Qwigley font to buttons *!*/
/*}*/
/*.btn1 {*/
/*    -fx-background-color: #0aa457;*/
/*    -fx-font-family: "Reem Kufi";*/
/*}*/
/*.btn2 {*/
/*    -fx-background-color: #a4970a;*/
/*    -fx-font-family: "Ruge Boogie";*/
/*}*/
/*.btn3{*/
/*    -fx-background-color: #a4330a;*/
/*    -fx-font-family: "Qwitcher Grypen";*/
/*}*/
@import "../fonts/RugeBoogie-Regular.ttf";

@font-face {
    font-family: "Ruge Boogie";
    src: url("../fonts/RugeBoogie-Regular.ttf");
}

@import "../fonts/ReemKufi-Bold.ttf";

@font-face {
    font-family: "Reem Kufi";
    src: url("../fonts/ReemKufi-Bold.ttf");
}


AnchorPane {
    -fx-background-color: #0a8da4;
}

.btn1 {
    -fx-background-color: #e3bd98;
    -fx-font-family: "Reem Kufi";
}
.btn2 {
    -fx-background-color: #a4970a;
    -fx-font-family: "Ruge Boogie";
}
